${albumData.map(reviews => {
return `<h3>Album Review Title: ${reviews.name}</h3>
<h3>Artist: ${reviews.artist}</h3>
<h3>Year Released: ${reviews.year_released}</h3>
<h3>Genre: ${reviews.genre}</h3>
<h3>${reviews.name}</h3>
<h3>Rating: ${reviews.stars} Stars</h3>
<h3>Review: ${reviews.review}</h3>`
})};

<form action="/" method="POST">
    <label>Name:
        <input type="text" name="name" placeholder="Please Enter the name of your review">
    </label>
    <br>
    <br>
    <label>Title:
        <input type="text" name="title" placeholder="please add review title">
    </label>
    <br>
    <br>
    <label>Stars:
        <input type="number" name="stars" placeholder="please your rating stars">
    </label>
    <br>
    <br>
    <label>Review:
        <textarea name="review" placeholder="Enter your review of the album"></textarea>
    </label>
    <br>
    <br>
    <label>Reviewer_id:
        <input type="number" name="reviewer_id" placeholder="please your ID">
    </label>
    <br>
    <br>
    <label>Album_id
        <input type="number" name="album_id" placeholder="please your the album id">
    </label>
    <br>
    <br>
    <button type="submit">Save Review</button>



</form>





<a href="/">Return Home</a>